.navcontainer h1 {
    float: left;
    padding-top: 1.3%;
}

body {
    font-family: Taviraj;
    position: relative;
}

.navcontainer {
    position: fixed;
    height: 8%;
    width: 100%;
    margin-top: -1%;
    background-color: white;
}

.navcontainer ol li {
	display: inline-block;
    float: right;
    padding-left: 3%;
    padding-right: 3%;
}

.navcontainer ol li a {
	text-decoration: none;
	font-family: Taviraj-Medium;
	font-size: 2vw;
	color: #6B203E;
}

.navcontainer ol li:after {
    content: "";
    display: inline-block;
    width: 0%;
    border-bottom: 2px solid black;
    transition:all 0.2s linear 0s;
}

.navcontainer ol li:hover:after {
    width: 100%;
}

#body {
    padding-top: 7%;
}