.navcontainer h1 {
    float: left;
    padding-top: 0.3%;
    font-size: 30px;
    margin: 0;
    padding-top: 1%;
    padding-left: 3%;
}

body {
    font-family: Josefin Sans;
    position: relative;
}

.navcontainer {
    position: fixed;
    z-index: 1;
    height: 8%;
    width: 100%;
    margin-top: -1.5%;
    padding-top: 2%;
    background-color: white;
}

.navcontainer ol {
    padding-right: 3%;
}

.navcontainer ol li {
	display: inline-block;
    float: right;
    padding-left: 3%;
    padding-right: 3%;
}

.navcontainer ol li a {
	text-decoration: none;
	font-family: Josefin Sans;
    font-weight: 300;
	font-size: 2.2vw;
	color: #6B203E;
}

.navcontainer ol li:after {
    content: "";
    display: inline-block;
    width: 0%;
    border-bottom: 1px solid black;
    transition:all 0.2s linear 0s;
}

.navcontainer ol li:hover:after {
    width: 100%;
    color: black
}

.navcontainer ol li a:hover {
    color: black;
}

#body {
    padding-top: 9%;
}